* {
	font-family: 'Helvetica', 'Sans-Serif';
	color: #161616;
}

.textbox, .submit {
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: 20px;
	background: transparent;
}
.submit:hover {
	background: #fafafa;
}

iframe {
	border: none;
	width: 100%;
}

#cWrapper {

}

#cMenu {
	width: 19%;
	float:left;
	border-right: 1px solid #161616;
}

#cFrame {
	width: 80%;
	float:left;
	padding-left: 10px;
}

.break {
	clear: both;
}

/* Statistiken */
canvas {
	max-height: 200px;
	width: auto;
}

/* Tabelle zur Auswertung von Multiple Choice Fragen auf Studentenseite */
table {
	text-align: center;
	border-collapse: collapse;
}

thead {
	font-weight: bold;
}

thead tr {
	border-bottom: 1px solid #000000;
}

thead td {
	padding: 0 10pt 0 10pt;
}

tr:nth-child(even) {
    background-color: #CCCCCC;
}
