@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
	font-family: 'Open Sans', 'Sans-Serif';
	color: #161616;
}

body, html {
	margin: 0;
	height: 100%;
}

.textbox, .submit {
	border: 1px solid #000000;
	border-radius: 2px;
	font-size: 20px;
	background: transparent;
}
.submit:hover {
	background: #fafafa;
}

.reg {
		text-align: left;
		padding-left: 35%;
		padding-top: 15%;
}

div.reg {
	width: 30%;
	margin: 15% auto;
	padding: 0;
	text-align: center;
}

#cWrapper {
	height: 100%;
}

#cMenu {
	width: 20%;
	float:left;
	min-width: 170px;
	/*border-right: 1px solid #161616;*/
}

#lMenu > li {
	list-style-type: none;
}

li a:hover {
	font-style: italic;
}

#cFrame {
	width: 80%;
	min-height: 100%;
	float:left;
	border-left: 2px solid #E2001A;
	margin-left: -2px;
}

#cFrame > * {
	padding-left: 10px;
}

.break {
	clear: both;
}

/* Statistiken */
canvas {
	max-height: 200px;
	width: auto;
	max-width: 95%;
}

/* Auswertung von Fragen auf Studentenseite */
.studAnswerContainer {
	margin-left: 20px;
	margin-bottom: 20px;
}

table.review {
	text-align: center;
	border-collapse: collapse;
	margin-left: 10px;
}

.review thead {
	font-weight: bold;
}

.review thead tr {
	border-bottom: 1px solid #000000;
}

.review thead td {
	padding: 0 10pt 0 10pt;
}

.review tr:nth-child(even) {
    background-color: rgba(226,0,26,0.2);
}


/* Unsichtbare Rahmen um Textboxen */
.invisibleBorder {
	 outline: none;
	 border: none;
	 width: 500px;
	 font-size: 1em;
	 background-color: transparent;
}

.fullwidth {
	width: 100%;
}

/* HEADER */

h1 {
	background-color: #E2001A;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 10px;
	padding: 20px 0 20px 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

input[type="submit"] , input[type="button"] {
	background-color: #E2001A;
	color: #FFFFFF;
	font-weight: bold;
	border: none;
	margin: 2px 5px 2px 5px;
	padding: 5px 10px 5px 10px;
}

input[type="submit"]:hover {
	background-color: #b80015;
}

/* Einheitliche Breiten */
input, select, textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.noSpace {
	padding: 0;
	margin: 0;
}

.paddingList {
	margin-left: 20px;
}

/* Toast Message */
#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #E2001A;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* Statistik Legende */
.class1true {
	background-color: rgba(105,168,84,0.4);
}

.class1false {
	background-color: rgba(217,93,91,0.4);
}

.class2true {
	background-color: rgba(76,141,137,0.4);
}

.class2false {
	background-color: rgba(223,153,94,0.4);
}
